#header{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    background-color:rgb(3, 19, 53);
    height: 30px;
    width: 1336px;
    top: 120px;
    opacity: .7;
    z-index: 1;
}

.mainMenu{
    height: 29px;
    width: 189px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: cornsilk;
    border: 1px solid black;
    text-align: center;
    font-size: 1.3em;
    flex-flow: row wrap;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: green;
}

#title #logo{
    position: absolute;
    top: 20px;
    height: 70px;
    width: 300px;
    z-index: 2;
}




#goal{
    position: absolute;
    top:250px;
    height: 450px;
    z-index: -1;
    left: -30px;
    

}



#players img{
    position: absolute;
    left:750px;
    top:380px;
    height: 220px;
    width: 400px;
}