#header{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    background-color: rgb(3, 19, 53);
    height: 30px;
    width: 1329px;
    top: 120px;
    left: 12px;
    opacity: .7;
    z-index: 1;
}

.mainMenu{
    height: 29px;
    width: 188px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: cornsilk;
    border: 1px solid black;
    text-align: center;
    font-size: 1.3em;
    flex-flow: row wrap;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: green;
    transform: scale(1.1);
}

#title #logo{
    position: absolute;
    top: 20px;
    height: 70px;
    width: 300px;
    z-index: 2;
}

#mediaGalleryButtons{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 500px;
    
}

#next{
    opacity: .7;
    left:500px
    
}
#mediaGallery{
    display: flex;
    height: 500px;
    width: 400px;
    top: 500px;
}
#ibra{
    position: absolute;
    height: 400px;
    width: 200px;
    left:300px;
}

#neymar{
    position: absolute;
    height: 400px;
    width: 200px;
    left:600px;
}





